.all{
    width: 70%;
    margin:0 auto;
    padding: 0;
}
.top_nav{
    font-weight:bold;
    background-color: #eeeeee;
}

.menu{
    background-color: antiquewhite;
}

.book_card{
    margin: 2.5%;
    width: 20%;
}

.author{
    font-size: 30px;
    border-color:aqua;
    border-width:3px;
    border-style:solid;
    margin: 5px;
}

.left_content {
    position: relative;
    line-height: 1.5em;
    min-height: 350px;
    padding: 10px 20px;
    /*width: auto;*/
    max-width: auto;
}

.bold {
    font-weight: bold;
}

.list {
    background: url(../images/arrow.jpg) left 3px no-repeat;
    padding-left: 10px;
}

.book_table thead{
    font-size: 30px;
}

#message{
    font-size: 16px;
    border-color:aqua;
    border-width:3px;
    border-style:solid;
    padding: 20px;
    margin: 20px;
}

#message p{
    margin: 10px 35px;
}

.time{
    color: rgba(0,0,0,.54);
}

.comment{
    background-color:gainsboro;
}

.comment h2{
    margin: 25px 0;
}

#msg_id,#book_id{
    display: none;
}