<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>子傑圖書室</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
            integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/book.css">
    <script src="../static/book.js"></script>
    <script src="../static/message.js"></script>
</head>
<body>
<div class="all">
    <div class="top_nav container">
        <div class="row-12 fs-1">
            <a href="/" style="text-decoration:none;">子傑圖書館</a>
        </div>
        <form class="row justify-content-end" action="">
            <div class="col-auto">
                <label for="">帳號</label>
                <input type="count">
            </div>
            <div class="col-auto">
                <label for="">密碼</label>
                <input type="password">
            </div>
            <div class="col-auto align-self-end">
                <input type="submit" value="登入">
            </div>
        </form>
    </div>
    <div class="container">
        <div class="menu row">
            <div class="col-3 text-center fs-2">
                <a href="/mybook" style="text-decoration:none;">我的書房</a>
            </div>
            <div class="col-3 text-center fs-2">
                <a href="/search" style="text-decoration:none;">書籍查詢</a>
            </div>
            <div class="col-3 text-center fs-2">
                <a href="about" style="text-decoration:none;">關於我們</a>
            </div>
            <div class="col-3 text-center fs-2">
                <a href="/rule" style="text-decoration:none;">借書規章</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div>
                    <h1 class="text-center">製作者</h1>
                    <div class="row author align-items-center">
                        <div class="card col-sm-3 book_card">
                            <img src="../static/1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="text-center">柯建亨</h4>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="row ">
                                <div class="col-5">
                                    班級：資工三B
                                </div>
                                <div class="col-5">
                                    學號：410703387
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    聯絡資訊：s1070338@gm.pu.edu.tw
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    介紹：看劇、睡覺、打lol
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row author align-items-center">
                        <div class="card col-sm-3 book_card">
                            <img src="../static/2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="text-center">林孝穎</h4>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="row ">
                                <div class="col-5">
                                    班級：資工三B
                                </div>
                                <div class="col-5">
                                    學號：410715287
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    聯絡資訊：s1071528@gm.pu.edu.tw
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    介紹：
                                    <a href="https://www.twitch.tv/derder_2000">twich 開台實況主，訂閱人數破百</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row author align-items-center">
                        <div class="card col-sm-3 book_card">
                            <img src="../static/3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="text-center">徐子傑</h4>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="row ">
                                <div class="col-5">
                                    班級：資工三B
                                </div>
                                <div class="col-5">
                                    學號：410715338
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    聯絡資訊：s1071533@gm.pu.edu.tw
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    介紹：看劇、睡覺、打lol
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col">
                    <h2>日曆</h2>
                    <div id="datepicker"></div>
                </div>
                <div class="col">
                    <h2>借閱規章</h2>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>